<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat_app/css/style.css' %}">
    <title>Ask JulAi</title>
</head>
<body>
    <div class="container">
        <div class="item">
            <div class="ai-title">
                <h1>JulAI</h1>
                <img class="ai-image" src="{% static 'chat_app/img/smiling.png' %}">
            </div>
            

        </div>


        <div class="item">
            
            {% block content %}
            {% endblock content %}
        </div>

        <div class="item">
            <button>
                ReTrain
            </button>
            <button>
                Add Message - Response
            </button>
        </div>
      </div>
    <!-- <div  class="wrapper">
        <div class="ai-image-container">
            <img>
        </div>
        
    </div> -->
   
    
    
</body>
</html>