{% extends "chat_app/base.html" %}

{% block content %}
    <div class="chat-container">
        
            <div class="chat-messages" id="chatMessages"></div>

            <div class="user-input">
                <input type="text" id="messageInput" name="user_message" placeholder="Type your message...">
                <button type="button" id="sendButton" onclick="sendMessage()" hidden>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                </button>
            </div>


    </div>

    {% load static %}

    <script src="{% static 'chat_app/js/chat.js' %}"></script>
    <script>
        document.getElementById("messageInput").addEventListener("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault(); // Prevent form submission or newline in textarea
                document.getElementById("sendButton").click();
            }
        });


    </script>
{% endblock content %}
